.Content { /*main contiene article*/
    display: flex;
    top: 0;
    justify-content: center;
    padding-top: 39px; /*para que el título fijo no tape el fondo*/
    padding-left: 120px;
    padding-right: 120px;
    color: rgb(156, 181, 234);
    background-color: rgb(31, 32, 34);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
@media (max-width: 600px) {
    .Content {
        padding-right: 30px;
        padding-left: 100px;
      }
}
