.NavLink {
    box-sizing: border-box;
    display: flex;
    width: 85px;
    top: 0;
    margin-top: 0px;
    padding-top: 1em;
    padding-bottom: 200%;
    padding-left: 15px;
    margin-right: 0px;
    border-top: 0px;
    right: 0px;
    color: rgb(156, 181, 234);
    background-color: rgba(4, 4, 22);
    position: fixed;
    font-size: small;
    font-family: 'Satisfy', cursive, Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 200;
}
@media (max-width: 600px) {
    .NavLink{
      display: none;
    }
}
.NavLink ul {
    
    padding-left: 0px;
    margin-left: 0px;
    border-top: 0px;
}
.NavLink ul li {
    margin-bottom: 3px;
}